@page
@model Listener.Pages.SimData.IndexModel
@{
}

<link href="~/css/tables.css" rel="stylesheet" />

<div class="side_column">
    <h2>Simulator Outputs</h2>
    @foreach (var row in Model.SimData as Dictionary<string, string>)
    {
        <div>
            <h3>@row.Key</h3>
            <p id="op_"@row.Key>@row.Value</p>
        </div>
    }

</div>

<div class="centre_column">
    <h2>Connected Boards</h2>
    @foreach (var row in Model.ListOfBoards )
    {
            <div id=@row.Name>
                <h3>@row.Name</h3>
                <p>Connection @row.GetIPAddress():@row.GetPort()</p>
            </div>
    }
</div>

<div class="side_column">
    <h2>Board Inputs</h2>
    @foreach (var row in Model.InputData as Dictionary<string, string>)
    {
            <div>
                <h3>@row.Key</h3>
                <p id="ip_"@row.Key>@row.Value</p>
            </div>
    }
</div>
